/* General css */

* {
	color: white
}

html {
	font-size: 18px;
	font-family: helvetica, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 960px;
}

.black-banner {
	background-color: black;
}




/* Header */



header {
	text-transform: uppercase;
}

/* Title Banner */

.head-title {
	padding: 0.66rem 0 0.66rem 0;
	display: flex;
	align-items: center;
}


.head-title img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}

.head-title h1 {
	font-size: 1rem;
	display: inline-block;
}

.menu {
	display: none;
}

/* Box New Arrivals*/

.bike-img {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.new-arrival {
	padding: 2rem 3rem;
	position: relative;
	width: 20rem;
	background-color: black;
	top: 9rem;
	font-weight: bold;
}

.new-arrival h3 {
	font-size: 1rem;
	padding-bottom: 0.25rem;
	font-weight: bold;
}

.new-arrival h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* Navigation Banner */

.nav-bar {
	background-color: firebrick;
}

nav {
	display: flex;
	justify-content: space-between;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-transform: capitalize;
	text-decoration: none;
}

nav a {
	text-decoration: none;
}



/* Body of site */



.items,
.buisness-info {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.item {
	width: 30%;
	text-align: center;
}

.item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 9rem;
	padding: 2rem 0;
	border: 4px solid black;
}

.item img {
	height: auto;
	max-width: 8rem;
}

.item-name {
	text-align: center;
	padding: 0.5rem 0 0.5rem 0;
}

/* Buisness info */

.buisness-info {
	margin-bottom: 4rem;
}

.info {
	text-align: left;
	width: 35%;
}

.info-title {
	padding: 1rem 0 1rem 2rem;
		margin-bottom: 0.25rem;
}

.info .info-details span {
	color: black;
}





/* Footer */



footer {
	text-align: left;
	height: 5rem;
	display: flex;
	align-items: center;
}


/* Media Queries */

@media only screen and (max-width: 1024px) {
    nav {
    	justify-content: center;
    }

	.menu {
		display: block;
	}

	nav a {
		display: none;
	}

	div.glasses {
		display: none;
	}

	.item {
		width: 47%;
	}

	.new-arrival h2 {
		font-size: 1.75rem;
	}
}

@media only screen and (max-width: 480px) {

	/*header*/

    .new-arrival {
    	top: 10rem;
    	padding: 1rem 2rem;
    	width: 100%;
    }

	.new-arrival h3 {
		font-size: 0.77rem;
	}

	.new-arrival h2 {
		font-size: 1rem;
	}

	.bike-img {
		height: 15rem;
	}

	/* body*/

	.items,
	.buisness-info {
		justify-content: center;
		flex-wrap: wrap;
	}

	.watch {
		display: none;
	}

	.item {
		width: 90%;
	}

	.info {
		width: 90%;
		margin-bottom: 0.5rem;
	}

	/*Footer*/

	footer span {
		margin: 0 auto;
	}
}